body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

}

#map-container {
    position: relative;
    height: 500px;
    width: 100%;
    text-align: left;

}


#map {
  position: relative;
  height: inherit;
  width: inherit;
}  

.leaflet-interactive {
  cursor: pointer;
}

#maplist li {
  font-size: 1.25rem;

}

